<div class="row marketing">
  <h4>About Node.js</h4>
  <blockquote>Node is a set of libraries on top of V8 that uses its greatness
  to do networky things.
  <footer>Ryan Dahl</footer>
  </blockquote>
  <p>
    I still don't really get what Node.js is for... but YOU, dear reader, can
    find some information about it in this (not so helpful and terribly long)
    youtube video <a href="http://www.youtube.com/watch?v=jo_B4LTHi3I"
    target="_blank">here</a>.
  </p>
  <p> That video is actually really confusing. I watched it twice. </p>


  <h4>Node is different</h4>
  <p>
    Some say that node.js is different from other server-side languages. I have
    no clue why. Maybe because it uses JavaScript which is ubiquitous but crap?
  </p>

  <h4>I/O Stuff</h4>
  <p>Non-blocking I/O is also known as Asynchronous I/O, allowing for Node.js
  to not sleep while waiting for commands or responses. This allows it to process
  multiple inputs at the same time, making it far more processor efficient than
  previous things.
  </p>
</div>
